<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>GoogleSignInController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.GoogleSigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteProfileController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.CompleteProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCreationController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AccountCreationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileDetailsController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ViewProfileDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupRoleController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.SignupRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendOTPController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ResendOTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPVerificationController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.OTPVerificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.SignoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherHomeServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.TeacherHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ViewQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.EditQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.CreateQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultsServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.QuizResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizResultController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.QuizResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.DoQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportDocxQuestionController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ImportDocxQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinQuizController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.JoinQuizController</servlet-class>
    </servlet>
    <!-- Admin -->
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AdminUserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AdminReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQuizServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AdminQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubjectServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AdminSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileServlet</servlet-name>
        <servlet-class>vn.edu.fpt.controller.AdminProfileServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>ViewQuizHistoryController</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ViewQuizHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectManagerHomepage</servlet-name>
        <servlet-class>vn.edu.fpt.controller.SubjectManagerHomepage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizResultController</servlet-name>
        <url-pattern>/quiz/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinQuizController</servlet-name>
        <url-pattern>/quiz/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleSignInController</servlet-name>
        <url-pattern>/signin-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteProfileController</servlet-name>
        <url-pattern>/complete-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCreationController</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/user/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileDetailsController</servlet-name>
        <url-pattern>/user/view-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupRoleController</servlet-name>
        <url-pattern>/signup-role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendOTPController</servlet-name>
        <url-pattern>/resend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPVerificationController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherHomeServlet</servlet-name>
        <url-pattern>/teacher/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizServlet</servlet-name>
        <url-pattern>/quiz/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServlet</servlet-name>
        <url-pattern>/quiz/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizController</servlet-name>
        <url-pattern>/quiz/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizResultsServlet</servlet-name>
        <url-pattern>/quiz/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/quiz/createQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportDocxQuestionController</servlet-name>
        <url-pattern>/quiz/importDocx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizController</servlet-name>
        <url-pattern>/quiz/do</url-pattern>
    </servlet-mapping>
    <!-- Admin Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>AdminHomeServlet</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportServlet</servlet-name>
        <url-pattern>/admin/reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQuizServlet</servlet-name>
        <url-pattern>/admin/quizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubjectServlet</servlet-name>
        <url-pattern>/admin/subjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileServlet</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <!-- Welcome File -->
    <servlet-mapping>
        <servlet-name>ViewQuizHistoryController</servlet-name>
        <url-pattern>/quiz/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectManagerHomepage</servlet-name>
        <url-pattern>/subjectmanager/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
